{{#link-to 'projects.new'}}New Project{{/link-to}}

<ul>
  {{#each project in model}}
    <li>
      {{#link-to 'project' project.id}}
        {{project.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>