<h2>Projects</h2>

{{#link-to 'projects.new'}}New Project{{/link-to}}

<ul>
  {{#each model as |project|}}
    <li>
      {{#link-to 'project' project.id}}
        {{project.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>