<h2>{{model.sprint.name}}</h2>

{{#link-to 'columns.new' model.project.id model.sprint.id}}New Column{{/link-to}}

<ul class="columns">
  {{#each model.columns as |column|}}
    <li>{{column.name}}</li>
    <li>{{#link-to 'tasks.new' model.project.id model.sprint.id column.id}}New Task{{/link-to}}</li>
    <ul>
      {{#each column.tasks as |task|}}
        <li>
          {{#link-to 'task' model.project.id model.sprint.id column.id task.id}}
              {{task.name}}
          {{/link-to}}
        </li>
      {{/each}}
    </ul>
  {{/each}}
</ul>