<h2>Sprints</h2>

{{#link-to 'project.edit'}}Edit Project{{/link-to}}
{{#link-to 'project.archive'}}Archive Project{{/link-to}}
{{#link-to 'project.delete'}}Delete Project{{/link-to}}

<ul>
  {{#each sprint in model}}
    <li>
      {{#link-to 'sprint' sprint.id}}
        {{sprint.name}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>